@tailwind base;
@tailwind components;
@tailwind utilities;

/* Our Mobile First Fixes */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f9fafb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Fix for long text on mobile screens */
.link-button-text {
  white-space: normal; 
  word-wrap: break-word; 
  text-align: center;
  width: 100%;
}
